<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Kidderminster Harriers</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Kidderminster Harriers</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <!-- Existing FlutterFlow + Firebase URL schemes -->
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.907610249864-bqh3dgob7tvt7e1b419noctd5731mm09</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>kidderminsterharriers.com</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>kidderminsterharriers</string>
        </array>
      </dict>
      <!-- Dynalinks configuration -->
      <dict>
        <key>CFBundleURLName</key>
        <string>com.ulnk.kidderminsterharriersfanclub</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>dynalink-harriers</string>
        </array>
      </dict>
    </array>
    <key>NSUserActivityTypes</key>
    <array>
      <string>NSUserActivityTypeBrowsingWeb</string>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>dynalink-harriers</string>
    </array>
    <key>CFBundleAssociatedDomains</key>
    <array>
      <string>applinks:harriers.dynalinks.app</string>
    </array>
    <key>FlutterDeepLinkingEnabled</key>
    <true/>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>PermissionGroupNotification</key>
    <string>Required to send you match and news updates</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>To upload photos to the app</string>
    <key>NSCalendarsUsageDescription</key>
    <string>To sync fixtures with your calendar</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Voicenote messages</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>